---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Taste } from "../utils/sanity";

interface Props {
  taste: Taste;
}

const { taste } = Astro.props;
---

<div class="card">
  {
    taste.mainImage ? (
      <img
        class="card__cover"
        src={urlFor(taste.mainImage).width(500).height(300).url()}
        alt={taste.mainImage.alt || ""}
      />
    ) : (
      <div class="card__cover--none" />
    )
  }
  <div class="card__container">
    <h3 class="card__title">
      <a
        class="card__link"
        href={`/taste/${taste.slug.current}`}
      >
        {taste.title}
      </a>
    </h3>
    <p class="card__excerpt">{taste.description}</p>
    <p class="card__date">
      {formatDate(taste._createdAt)}
    </p>
  </div>
</div>

<style>
</style>
